h1 {
    font-family: 'Mystery Quest', cursive;
    background-color:lightskyblue;
    color:beige;
    text-align:center;
  }

  p {
    color: gray;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }